.detail-container {
  display: grid;
  grid-template-columns: auto;
}

/* header */

.detail-header {
  height: 60vh;
}

.detail-image {
  background-image: linear-gradient(0deg, rgba(26, 26, 26, 0.5) 15%, rgba(49, 49, 49, 0.6) 15%, rgba(92, 92, 92, 0.6) 15%),
    url("/assets/bg.jpg");
  filter: brightness(60%) contrast(180%);
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
}

.restaurant_name {
  align-self: start;
  justify-self: start;
  padding: 2rem;
  display: flex;
  align-items: center;
  grid-column: 1/3;
}

.restaurant_name h2 {
  margin: 0;
  padding: 0 1rem;
  font-size: 3rem;
  font-family: "Righteous";
  font-weight: 400;
  color: #fff;
}

.restaurant-rate_block {
  align-self: start;
  justify-self: end;
  padding: 2rem 4rem;
  display: flex;
  align-items: center;
}

.restaurant-rate_block h3 {
  font-size: 2rem;
  margin: 0;
  color: #fff;
}

.restaurant-rate_block p {
  margin: 0;
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
}

.action_block {
  align-self: end;
  justify-self: start;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
}

.photos_block {
  align-self: end;
  justify-self: end;
  padding: 1.5rem;
}

.photos_block .images {
  width: 6rem;
  height: 6rem;
  margin: 0 0.4rem;
  border-radius: 10px;
  background: linear-gradient(rgba(0, 0, 0, 0.336), rgba(0, 0, 0, 0.336)), url("/assets/bg.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  display: grid;
  cursor: pointer;
}

.photos_block .images p {
  color: #fff;
  font-weight: 800;
  font-size: 1rem;
  align-self: end;
  justify-self: center;
  letter-spacing: 1px;
}

/* footer */
.detail-footer {
  margin: 2rem 0;
}

.detail_info {
  display: grid;
  grid-template-columns: 70% auto;
  width: 100%;
}

/* footer - navbar */
.detail-navbar {
  /* background: #a12525; */
  margin: 0 2rem;
  display: grid;
  grid-template-columns: auto;
}

.detail-navbar nav ul {
  display: flex;
  padding: 0;
  background: #767767;
  border-radius: 5px 5px 0 0;
}

.detail-navbar nav ul li {
  list-style: none;
  margin: 0.5rem 1rem 0 1rem;
  padding: 0.5rem 1rem;
  /* background: #fff; */
  border-radius: 5px 5px 0 0;
}

.detail-navbar nav ul li a {
  color: #e2dede;
  font-weight: 600;
}

/* .detail-navbar nav ul li:hover,
.detail-navbar nav ul li:active {
  background: #fff;
  color: #767767;
  transition: 0.5s ease-in-out;
}

.detail-navbar nav ul li a:hover,
.detail-navbar nav ul li a:active {
  color: #767767;
  transition: 0.5s ease-in-out;
} */

/* footer - sub-pages */
.nav_detail {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0 1.5rem;
}

.block {
  display: grid;
  grid-template-columns: auto;
}

.block > div {
  margin: 1.5rem 0;
}

h2,
h3,
p {
  padding: 0;
  margin: 0;
}

h2 {
  margin-bottom: 0.625rem;
}

h3 {
  color: #25a14e;
  margin-bottom: 0.625rem;
}

p {
  color: #767767;
  font-size: 0.925rem;
}

.cuisines > div {
  display: flex;
}

.more_info > div {
  display: flex;
}

.map {
  background: transparent no-repeat;
  background-position: center;
  background-size: cover;
  margin: 2rem 2rem;
  height: 15rem;
}
